.container {
    width: 100%;
}

.thumb {
    margin-bottom: 2px;
}

.thumb img{
    width: 100%;
    object-fit: cover;
    height: fit-content;
}

.desc h3 {
    font-weight: 500;
    margin-bottom: 2px;
}

.desc h4 {
    font-weight: 500;
    font-size: 1.3vw;
}

.desc p {
    font-size: 14px;
    margin-bottom: 6px;
}

.brand {
    color: var(--secondary-text);
}

.rating {
    display: flex;
    align-items: center;
}

.review {
    margin-left: 6px;
}

.container {
    transition: 300ms linear;
}

@media (max-width: 632px) {
    .desc h4 {
        font-size: 3vw;
    }
}
@media (max-width: 532px) {
    .desc h4 {
        font-size: 3.3vw;
    }
}
@media (max-width: 456px) {
    .desc h4 {
        font-size: 4.4vw;
    }
}