.header{
    background: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1000;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--border);
    padding: 5px;
}

.icons {
    display: flex;
    align-items: center;
}

.icons li {
    list-style-type: none;
    margin-right: 25px;
}

.logo {
    margin-top: 2px;
    margin-left: 5px;
}

.nav {
    display: flex;
    padding: 10px;
    border: 1px solid var(--border);
}

.nav li{
    list-style-type: none;
    margin-right: 44px;
    margin-left: 4px;
}