.container {
    margin: 51px auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1058px) {
    .container {
        width: 60%;
    }
}

@media (max-width: 619px) {
    .container {
        width: 90%;
    }
}