body {
    font-family: 'Poppins', sans-serif;
}

body,
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --primary-color: #000000;
    --secondary-color: #3a3a3a;
    --border: #e0e0e0;
    --secondary-text: #585858;
    --icon: rgb(64, 64, 64);
}

.primary-button {
    background-color: var(--primary-color);
    color: white;
    padding: 17px 30px;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    font-size: 13px;
}

.link{
    color: inherit;
    text-decoration: inherit;
}