body {
    font-family: 'Poppins', sans-serif;
}

body,
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --primary-color: #000000;
    --secondary-color: #3a3a3a;
    --border: #e0e0e0;
    --secondary-text: #585858;
    --icon: rgb(64, 64, 64);
}

.primary-button {
    background-color: var(--primary-color);
    color: white;
    padding: 17px 30px;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    font-size: 13px;
}

.link {
    color: inherit;
    text-decoration: inherit;
}

.cardLink {
    color: var(--secondary-text);
    text-decoration: underline;
}

.secondaryCardLink {
    color: white;
}

.outlined-button {
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 14px 43px;
    text-align: center;
    transition: all 300ms;
    width: max-content;
}

.secondary-outlined-button {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 24px;
    text-align: center;
    transition: all 300ms;
    width: max-content;
    color: white;
}

.outlined-button:hover {
    background-color: var(--secondary-color);
    color: white;
}

.secondary-outlined-button:hover {
    background-color: white;
    color: black;
}